.textbox{
  text-align: center;
  width: 80%;
  height: 80%;
  opacity: 0.8;
  overflow:auto;
  background-color: rgba(255,255,255,0.5);
  margin: auto;
}

span{
  margin-top: 10px;
  font-size: 3rem;
}

.subtext>.text{
  text-align: left;
  margin : 20px;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
}

.text>p{
  margin-left: 20px;
  font-size: 0.9rem;
  font-weight: normal;
  display: none;
}

.clicked>p{
  display:block;
}